.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  width: 100%;
}

.header_nav {
  color: white;
  margin-left: 3%;
  text-decoration: none;
  cursor: pointer;
}

.header_logo {
  width: 100px;
  margin: 18px 16px 0px 18px;
  padding: 5px;
}

.header_signIn_cart {
  margin-left: 76%;
  align-items: center;
  display: flex;
  position: absolute;
}

.header_signIn {
  color: white;
  font-weight: bolder;
  align-items: center;
  align-self: center;
  text-decoration: none;
}

.header_cartIcon {
  color: white;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  padding-top: 5px;
  margin-top: 18px;
}

.header_itemCount {
  color: #febd69;
  font-size: 1.2em;
  position: absolute;
  font-weight: bolder;
  margin-left: 74px;
  margin-top: -20px;
}

.searchBar {
  display: flex;
  width: 100%;
  background-color: #131921;
  height: 50px;
  padding: 5px 10px;
}

.searchBar_searchInput {
  border: 0px;
  height: auto;
  flex: 1;
  border-radius: 5px;
  width: 90%;
  padding-left: 10px;
}
.searchBar_searchIcon {
  background-color: #febd69;
  height: auto;
  padding: 1px;
  border-radius: 5px;
  width: 40px;
  margin-left: -20px;
}

.hot_topics {
  height: 30px;
  background-color: #131921;
  max-width: 200%;
}

.hot_topics span {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 60%;
  text-decoration: none;
}

.hot_topics span:active {
  text-decoration: none;
}

.hot_topics {
  text-decoration: none;
}

span {
  text-decoration: none;
}

Link {
  text-decoration: none;
}
/* 
.header_logo:hover {
  border: 0.1px solid white;
} */
