.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  width: 100%;
}

.header_nav {
  color: white;
  margin-left: 3%;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid white;
  padding: 5px;
}

.header_logo {
  width: 90px;
  margin: 18px 16px 0px 18px;
  padding: 5px;
}

.header_signIn_cart {
  margin-left: 94%;
  align-items: center;
  display: flex;
  position: absolute;
}

.header_signIn {
  color: white;
  font-weight: bolder;
  align-items: center;
  align-self: center;
  text-decoration: none;
  margin-left: -10px;
  padding: 10px;
  height: 40px;
  transition: 0.2s;
}

.header_signIn_cart Link {
  text-decoration: none;
}
.header_signIn:hover {
  background-color: rgb(64, 64, 156);
  color: whitesmoke;
  text-decoration: none;
  border-radius: 10px;
}

.header_cartIcon {
  color: white;
}

.header_itemCount_and_cartIcon {
  color: #febd69;
  font-size: 1.3em;
  position: absolute;
  font-weight: bolder;
  margin-left: 74px;
  border-radius: 10px;
  transition: 0.2s;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

.header_itemCount_and_cartIcon:hover {
  background-color: rgb(64, 64, 156);
}
.header_cartIcon {
  margin-left: -5px;
  margin-top: 10px;
}

.header_itemCount {
  position: absolute;
  margin-top: -10px;
  color: #febd69;
}

.searchBar {
  display: flex;
  width: 100%;
  background-color: #131921;
  height: 60px;
  padding: 5px 10px;
  padding-bottom: 10px;
}

.searchBar_searchInput {
  border: 0px;
  height: auto;
  flex: 1;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
}

.searchBar_searchIcon {
  background-color: #febd69;
  height: auto;
  padding: 1px;
  border-radius: 5px;
  width: 40px;
  margin-left: -20px;
}

.hot_topics {
  height: 30px;
  background-color: #131921;
  max-width: 200%;
}

.hot_topics span {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 60%;
  text-decoration: none;
}

.hot_topics span:active {
  text-decoration: none;
}

.hot_topics {
  text-decoration: none;
}

span {
  text-decoration: none;
}

Link {
  text-decoration: none;
}
/* 
.header_logo:hover {
  border: 0.1px solid white;
} */
