.navigation {
  top: 0;
  background-color: white;
  color: black;
  position: absolute;
  height: 800px;
  z-index: +2;
  width: 300px;
  left: 0%;
  margin-left: -200vh;
  transition: 1s;
  text-decoration: none;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
}

.close {
  position: absolute;
  right: 0;
  /* border: 2px solid black; */
  height: 30px;
  width: 30px;
  color: white;
  margin-top: 10px;
}

.sign_in {
  background-color: #131921;
  color: white;
  display: block;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-left: 80px;
}

.active {
  margin-left: -7vh;
  transition: 1s;
}

ul {
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
}

li {
  text-decoration: none;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

li:hover {
  opacity: 0.6;
  background-color: grey;
}
